@import "style.css";

.conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 30px
}

.card {
    border: 3px solid #f7b78f;
    border-radius: 5px;
    padding: 5px;
    min-width: 200px;
    width: 25%;
    height: auto;
    text-align: center;
}

.card img {
    border-radius: 5px;
    width: 100%;
    height: 70%;
    margin-bottom: 5px;
    object-fit: cover;
}

@media (max-width: 600px) {
    .card {
        margin: 0 0 20px 0;
        width: 100%;
        font-size: 1rem;
    }

    .card img {
        height: auto;
        margin-bottom: 5px;
    }
}

