@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&family=Poppins&display=swap');

:root {
  font-size: 26.4px;
  font-family: 'Patrick Hand SC', sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}
/* eu mudei pro footer ficar bonitinho e a sidebar n tava usando a ultima parte ali, qualquer problema pode voltar como tava :D*/
.wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 4fr;
  grid-template-rows: 10vh minmax(80vh, auto) 10vh;
  grid-template-areas:
    'header header'
    'sidebar main'
    'footer footer';
}

header {
  background-color: #f58845;
  grid-area: header;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 4fr;
  place-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.sobre {
  justify-self: end;
  margin-right: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  font-family: 'Patrick Hand SC', sans-serif;
}

main {
  grid-area: main;
  background-color: #fce7d4;
  color: #5d3b27;
}

aside {
  grid-area: sidebar;
  background-color: #f7b78f;
  display: flex;
  align-items: start;
  justify-content: center;
}

nav {
  position: sticky;
  top: 10vh;
  width: 80%;
}

.raposa_mes {
  margin-top: 0.7rem;
  width: 100%;
}

img {
  display: block;
}



/* pagina principal */
.conteudo {
  margin: 10px 70px 50px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 0.6rem;
}

.conteudo p {
  margin-bottom: 15px;
}

.fenecos_main {
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 20px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.thumb_r {
  margin-left: 12px;
  float: right;
  background-color: #f7b78f;
  padding: 5px;
  min-width: 100px;
  min-height: 100px;
  width: 25%;
  height: auto;
}

.thumb_l {
  margin-right: 12px;
  float: left;
  background-color: #f7b78f;
  padding: 5px;
  min-width: 100px;
  min-height: 100px;
  width: 25%;
  height: auto;
}

.thumb {
  width: 100%;
  height: 100%;
}

/* botões */
.botao {
  margin-top: 0.5rem;
  text-align: center;
  background: #c26c37;
  border-radius: 0.7rem;
  position: relative;
  user-select: none;
  cursor: pointer;
}

input[type='checkbox'] {
  display: none;
}

.menu_botao {
  margin-top: 0.5rem;
  user-select: none;
}

.lbl-botao {
  display: block;
  text-align: center;
  background: #c26c37;
  cursor: pointer;
  border-radius: 0.7rem;
  transition: all 0.2s ease-out;
}

.lbl-botao::before {
  content: '>';
  position: absolute;
  left: 10px;
  vertical-align: middle;
  margin-right: 0.7rem;
  transition: transform 0.2s ease-in-out;
}

.botao:checked + .lbl-botao::before {
  transform: rotate(90deg);
}

.fundo_botao {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.1s ease-in;
}

.botao:checked + .lbl-botao + .fundo_botao {
  max-height: 350px;
}

.botao:checked + .lbl-botao {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.fundo_botao .conteudo_interior {
  background: #c26c37;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

.conteudo-interior p {
  margin-bottom: 0;
}
footer {
  grid-area: footer;
  background-color: #f58845;
  padding: 1.5vw 0;
}
.footer_centro {
  display: flex;
  color: white;
  font-family: 'Patrick Hand SC', sans-serif;
  font-size: 13px;
  flex-direction: column;
  align-items: center;
  width:auto;
  background-color:#f58845 ;
}
.rodalogo{
width: 8vw;
}
.textoroda{
  margin: 0.5vw 0;
  font-size: 0.65rem;
  display: flex;

}
.copy{
  margin: 0.5vw 0;
}
.textoroda a:not(:last-child){
margin-left: 0.5vw;
}

.icones{
  width: 2vw;
}

.icons {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 8vh minmax(80vh, auto) 10vh;
    grid-template-areas:
      'header'
      'sidebar'
      'main'
      'footer';
  }

  nav {
    font-size: 0.8rem;
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'raposa-mes raposa-mes raposa-mes raposa-mes'
      'especie artigo faq galeria';
  }

  nav .botao {
    margin: 0;
    border-radius: 0;
    height: 4vh;
    vertical-align: middle;
  }
  #botao_raposa {
    grid-area: raposa-mes;
  }
  #botao_especie {
    grid-area: especie;
  }
  #botao_artigo {
    grid-area: artigo;
  }
  #botao_faq {
    grid-area: faq;
  }
  #botao_galeria {
    grid-area: galeria;
  }
  .lbl-botao {
    border-radius: 0;
    height: 4vh;
  }

  .menu_botao {
    margin: 0;
  }

  .lbl-botao::before {
    content: '>';
    position: relative;
  }

  .fundo_botao .conteudo_interior {
    border-radius: 0;
  }
  
  .raposa_mes {
    display: none;
  }

  aside {
    background-color: #fce7d4;
    position: sticky;
    top: 10vh;
  }

  .fenecos_main {
    margin-bottom: 0;
    height: 100px;
  }

  .conteudo {
    margin: 5px 20px 40px 20px;
    font-size: 0.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  .thumb_r {
    margin-left: 6px;
    width: 150px;
  }

  .thumb_l {
    margin-right: 6px;
    width: 150px;
  }

  
}
